<h1 class="ip" title="IP Address">{{ title }}</h1>

{{#if host}}
  <h2 class="host" title="Hostname">{{ host }}</h2>
{{/if}}

{{#if userAgent}}
  <h3 class="user-agent" title="User Agent">{{ userAgent }}</h3>
{{/if}}
