body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.ip, .host, .user-agent {
  text-align: center;
}

.ip {
  font-size: 3.5em;
  margin-bottom: 0.25em;
}

.user-agent {
  font-weight: normal;
}
