body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  padding-top: 0.75em;
}

.ip, .host, .user-agent {
  text-align: center;
}

.ip {
  font-size: 3.5em;
  margin: 0.25em 0;
}

.ip#ipv6 {
  font-size: 2em;
}

.user-agent {
  font-weight: normal;
}
